# Custom Error Pages
ErrorDocument 400 /error.html?code=400
ErrorDocument 401 /error.html?code=401
ErrorDocument 403 /error.html?code=403
ErrorDocument 404 /error.html?code=404
ErrorDocument 405 /error.html?code=405
ErrorDocument 406 /error.html?code=406
ErrorDocument 408 /error.html?code=408
ErrorDocument 409 /error.html?code=409
ErrorDocument 410 /error.html?code=410
ErrorDocument 413 /error.html?code=413
ErrorDocument 414 /error.html?code=414
ErrorDocument 415 /error.html?code=415
ErrorDocument 418 /error.html?code=418
ErrorDocument 422 /error.html?code=422
ErrorDocument 429 /error.html?code=429
ErrorDocument 431 /error.html?code=431
ErrorDocument 451 /error.html?code=451
ErrorDocument 500 /error.html?code=500
ErrorDocument 501 /error.html?code=501
ErrorDocument 502 /error.html?code=502
ErrorDocument 503 /error.html?code=503
ErrorDocument 504 /error.html?code=504
ErrorDocument 505 /error.html?code=505
ErrorDocument 520 /error.html?code=520
ErrorDocument 521 /error.html?code=521
ErrorDocument 522 /error.html?code=522
ErrorDocument 523 /error.html?code=523
ErrorDocument 524 /error.html?code=524
